<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<title>&copy;Fise登录</title>
	<link rel="stylesheet" th:href="@{css/style.css}" />
	<link rel="stylesheet" th:href="@{css/icon.css}" />
</head>
<script type = "text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
<script type = "text/javascript" th:src="@{js/test.js}"></script>
<body>
<div id="wrapper">
	<div class="aw-login-box">
    	<div class="box-bg-ys"></div>
		<div class="mod-body clearfix">
			<div class="content pull-left">
				<h1 class="logo"><a href=""></a></h1>				
				<form id="login_form" method="post" onSubmit="return false" action="@{user_login}">
					<input type="hidden" name="return_url" value="0">
					<ul>
						<li>
							<input type="text" id="aw-login-user-name" class="form-control" placeholder="账号" name="user_name">
						</li>
						<li>
							<input type="password" id="aw-login-user-password" class="form-control" placeholder="密码" name="password">
						</li>
						<!-- <li class="alert alert-danger hide error_message">
							<i class="icon icon-delete"></i> <em></em>
						</li> -->
						<li class="last">
							<a href="javascript:;" class="pull-right btn btn-large btn-primary">登录</a>
							<label>
								<input type="checkbox" value="1" name="net_auto_login">
								记住我							</label>
						     &nbsp;&nbsp;| <a href="javascript:;">&nbsp;&nbsp;忘记密码</a>
						</li>
					</ul>
				</form>
			</div>
			<div class="side-bar pull-left">
				<h3>第三方账号登录</h3>
				<a href="javascript:;" class="btn btn-block btn-weibo"><i class="icon icon-sinaweibo"></i> 新浪微博登录</a>
				<a href="javascript:;" class="btn btn-block btn-qq"> <i class="icon icon-icon_QQ"></i> QQ登录</a>
			</div>
		</div>
		<div class="mod-footer">
			<span>还没有账号?</span>&nbsp;&nbsp;
			<a href="javascript:;">立即注册</a>&nbsp;&nbsp;
			&copy; 2018 |
			<a href="https://github.com/FiseTch" target="_blank" title="作者">
				作者主页
			</a>•&nbsp;&nbsp;
			<a th:href="@{/index.do}">返回主页</a>&nbsp;&nbsp;
		</div>
	</div>
</div>
</body>
</html>